


@model IEnumerable<Shop.Models.EF.Product>

<a class="btn btn-success" href="/Employee/Index">Menu</a> |
<a class="btn btn-danger" href="/Employee/Logout">Logout</a>

<div class="container">
    <div class="form-group">
        <div class="input-group">
           
        </div>
    </div>
</div>

<table class=" table table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Basic Price</th>
            <th>Discount Price</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="Search">
            <td>@item.ProductID</td>
            <td>@item.Product_Name</td>
            <td>@item.Basic_Price</td>
            <td>@item.Discount_Price</td>
            <td>@item.Description</td>
            <td>@item.Quantity</td>
            <td><a href="/Employee/Productedit/@item.ProductID" class="btn btn-success">Update details</a> </td>
        </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
