@model List<Product2nd.Models.Entities.Product>

<h2>Index</h2>

 <a class="btn btn-primary" href="/Product/AddedToCart">My Cart</a> | <a class="btn btn-primary" href="/Order/Index">My Orders</a>
<hr>
<h3>All Products</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    @foreach (var p in Model)
    {
<tr>
    <td>@p.Id</td>
    <td>@p.Name</td>
    <td>@p.Qty</td>
    <td>@p.Price</td>
    <td>@p.Des</td>
    <td><a href="/product/cart/@p.Id" class="btn btn-success">Add to Cart</a></td>
</tr>
    }
</table>
