@model List<Product2nd.Models.Entities.Product>

<h2>Index</h2>
<a class="btn btn-primary" href="/Product/Create">Add Product</a>
<hr>
<h3>All Products</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    @foreach (var p in Model)
    {
<tr>
    <td>@p.Id</td>
    <td>@p.Name</td>
    <td>@p.Qty</td>
    <td>@p.Price</td>
    <td>@p.Des</td>
    <td><a href="/product/delete/@p.Id" class="btn btn-danger">Delete</a></td>
    <td><a href="/product/edit/@p.Id" class="btn btn-success">Edit</a></td>
</tr>
    }
</table>
