
@{
    ViewBag.Title = "Bio";
}

<h1>Bio</h1>

<h2><b>Objective-</b></h2>
<h3>@ViewBag.Objective</h3>
<br />

<h2><b>Personal Details-</b></h2>
<h3><b>Name:</b>@ViewBag.MyName</h3>
<h3><b>Father's name:</b>@ViewBag.FathersName</h3>
<h3><b>Mother's name:</b>@ViewBag.MothersName</h3>
<h3><b>Date of birth:</b>@ViewBag.Dob</h3>
