
@{
    ViewBag.Title = "Education";
}

<h2><b>Educational Background</b></h2>

<ol>
    
        <li> @ViewBag.year1 <br /> @ViewBag.exam1 <br /> @ViewBag.institution1</li> <br />
        <li> @ViewBag.year2 <br /> @ViewBag.exam2 <br /> @ViewBag.institution2</li> <br />
        <li>@ViewBag.year3 <br /> @ViewBag.exam3 <br /> @ViewBag.institution3</li> <br />
    
</ol>
